<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-test-service></app-test-service>

<div class="topnav">
  <nav>
    <h2>
    <a routerLink="/home">Home</a>
    <a routerLink="/history">Distribution</a>
    <a routerLink="/totos">Results</a>
    <a routerLink="/rule">Play Rules</a>
    </h2>
  </nav>
  </div>

<router-outlet></router-outlet>
