
<div> 
	<h1 align="center">Singapore Toto Historical Data (49 Number)</h1>
</div>
<hr>
<div class="container">
 	<canvas id="myChartSixNumber" class="chartjs" width="undefined" height="undefined"></canvas>
 	<h2 align="center">Six Luck Numbers Distribution</h2>
</div>
<hr>
<div class="container">
	<canvas id="myChartAdditional" class="chartjs" width="undefined" height="undefined"></canvas>
	<h2 align="center">The Additional Number Distribution</h2>
</div>
<hr>
<div class="container">
	<canvas id="myChart" class="chartjs" width="undefined" height="undefined"></canvas>
	<h2 align="center"> All 7 Number Overall Distribution</h2>
</div>